div {
    text-align: center;
}

h1 {
    font-size: 3rem;
    font-family: Impact;
    margin:  2rem 0;
}

button {
    width: 250px;
    height: 80px;
    background-color: blue;
    color: white;
    margin:  2rem 0;
}

p{
    font-size: 2rem;
}

button:hover{
    background-color: green;
}