div {
    text-align: center;
}

h1 {
    font-size: 3rem;!important;
    font-family: Impact;!important;
    margin:  2rem 0;!important;
}

button {
    width: 250px;!important;
    height: 80px;!important;
    background-color: blue;!important;
    color: white;!important;
    margin:  2rem 0;!important;
}

p{
    font-size: 2rem;!important;
}

.hover-bg-success:hover {
    background-color: #28a745 !important; /* Bootstrap success color */
    border-color: #28a745 !important;
  }